@font-face {
  font-family: 'Aleofont Sans';
  src: url('src-tauri/resources/AleofontSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter Thin';
  src: url('src-tauri/resources/Inter-VariableFont.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: url('src-tauri/resources/Inter.woff2') format('woff2');
}
@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: url('src-tauri/resources/Menlo-Regular.woff') format('woff');
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color: #121212;
      background-color: #121212;
    }
  }
  
  :root {
    --ivory: #f5f5f5;
    --coal: #121212;
    --stone: #e3e3e3;
    --cloudberry: #ffe2fc;
    --tangerine: #ffa978;
    --pomelo: #ffe092;
    --lemon: #eeffa8;
    --lime: #c4ffc2;
    --grapefruit: #fd5956;
  }
  

.main {
  display: flex;
  flex-direction: row;
  position:fixed;
  width: 100%;
  margin: 0px;
  padding: 0;
  border:0px;
  top: 0;
  left: 0;
  height: 100%
}


.temp-buffer {
  flex: 0 0 40px;
  border-bottom:1px solid #494e64;
  box-sizing: border-box;
  order:0;
}

.sidebar-icons {
  display:flex;
  flex-direction: column;
  order:0;
  flex: 0 0 50px;
  height: 100%;
  border-right:1px solid #494e64;
}

.sidebar-icons button {
  flex: 0 0 50px;
  box-sizing: border-box;
  padding: 10px;
  background:transparent;
  border:0;
  border-left: 1px solid transparent;
  filter: invert(55%) sepia(0%) saturate(202%) hue-rotate(189deg) brightness(96%) contrast(83%);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  transition:all .3s ease;
}

.sidebar-icons button:hover {
  filter: invert(90%) sepia(18%) saturate(584%) hue-rotate(61deg) brightness(104%) contrast(101%);
  cursor: pointer;
  transition:all .3s ease;
  
}

.sidebar-icons button.selected {
  filter: invert(90%) sepia(18%) saturate(584%) hue-rotate(61deg) brightness(104%) contrast(101%);
  border-left: 1px solid;
}

.sidebar-icons button img{
  width: 100%;
  height: 100%
}


#environment-tab-button {
  order:1;
}

#file-explorer-tab-button {
  order:2;
}

#account-tab-button {
  order:3;
}

#records-tab-button {
  order:4;
}

#rest-api-tab-button {
  order:5;
}

#compile-tab-button {
  order:6;
}

#deploy-execute-tab-button {
  order:7;
}


#history-tab-button {
  order:8;
}


#empty-space {
  width:100%;
  height:100%;
  order:9;
  box-sizing: border-box;
}

#settings-tab-button {
  order:10;
}


/* The side navigation menu */
.sidebar-details {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background-color: var(--coal);
  display: flex;
  flex-direction: column;
  order:1;
  border-top:0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  scrollbar-color: gray var(--coal);
}

.wrapper {
  height: 100%; 
  flex-direction:column;
  overflow:hidden;
}

.open-folder-wrapper {
  height: 25%; 
  width: 100%; 
  display: flex; 
  justify-content: center;
}

.open-folder-wrapper .open-folder {
  height:fit-content; 
  width: fit-content; 
  align-self: center; 
  border:0; 
  color:var(--lime); 
  font-family:'Inter'; 
  font-size: 14px; 
  font-weight: 400; 
  border-radius: 5px;
  border: 2px solid var(--lime); /* Green */
  padding:10px; 
  /* background-color: #026ec1; */
  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  transition:all .3s ease;
}
.open-folder-wrapper .open-folder:hover {
  background-color:var(--lime);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}
.open-folder-wrapper .open-folder.disabled {
  color:#494e64;
  border: 2px solid #494e64;;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
}


.sidebar-title {
  order:0;
  box-sizing: border-box;
  color: var(--stone);
  background-color: var(--coal);
  width: 100%;
  display:flex;
  text-decoration: none;
  font-family:'Inter';
  align-items:center;
  padding-left:10px;
  font-size: 14px;
  font-weight: 400;
  flex: 0 0 40px;
  border:0;
  border-bottom:1px solid #494e64;
  border-top: 1px solid transparent;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.sidebar-body-wrapper {
  height:100%;
}

.card {
  display:flex;
  flex-direction:column;
  overflow:visible;
  padding:10px;
  box-sizing: border-box;
}

.card-head{
  order:0;
  color: var(--lime);
  border: 1px solid var(--lime);;
  border-radius: 8px 8px 0 0;
  margin-bottom: -1px;
  min-height: 40px;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 3px;
  padding-top:3px;
  box-sizing:border-box;
}

.card-head .title{
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  margin-top:6.5px;
}

.dropdown-custom{
  position:relative;
}

.dropdown-custom .dropdown-button {
  box-sizing: border-box;
  border: 1px solid #494e64;
  padding:7.5px;
  padding-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-family:'Inter'; 
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  order: 0;
  display:flex;
}

.dropdown-custom .dropdown-button.show {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.dropdown-custom .dropdown-button img {
  float:right;
  pointer-events:none;
  order:2;
}

.dropdown-custom .dropdown-button .buffer{
  height:max-content; 
  width:calc(100% - 16px);
  pointer-events: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}


.dropdown-custom .dropdown-content{
  position:absolute; 
  order: 1; 
  height:max-content;
  width: 100%;
  border: 1px solid #494e64;
  border-top:0;
  background-color:var(--coal);
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index:2;
}


.dropdown-custom .dropdown-content .dropdown-item {
  box-sizing: border-box;
  padding:7.5px;
  padding-left: 10px;
  cursor: pointer;
  font-family:'Inter'; 
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  background: rgba(39,41,53,.7);
  overflow:hidden;
}

.dropdown-custom .dropdown-content .dropdown-item.selected {
  background-color:var(--lime);
  color:var(--coal);
  transition:all .3s ease;  
}

.dropdown-custom .dropdown-content .dropdown-item:hover {
  background-color:var(--lime);
  color:var(--coal);
  transition:all .3s ease;  
}


.dropdown-custom .dropdown-content .dropdown-item-placeholder {
  box-sizing: border-box;
  padding:7.5px;
  padding-left: 10px;
  font-family:'Inter'; 
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  background: rgba(39,41,53,.7);
}



.dropdown-custom-head{
  position:relative;
  width: 100%;
}

.dropdown-custom-head .dropdown-button {
  box-sizing: border-box;
  border: 1px solid var(--lime);
  padding:7.5px;
  padding-left: 10px;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height:40px;

  cursor: pointer;
  font-family:'Inter'; 
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  order: 0;
  display:flex;
  
  color:var(--lime);
  /* background-color: var(--lime); */
}

.dropdown-custom-head .dropdown-button.show {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.dropdown-custom-head .dropdown-button img {
  float:right;
  pointer-events:none;
  order:2;
  /* filter: invert(0%) sepia(41%) saturate(270%) hue-rotate(347deg) brightness(95%) contrast(86%); */
  filter: invert(87%) sepia(28%) saturate(377%) hue-rotate(64deg) brightness(105%) contrast(103%);
}
.dropdown-custom-head .dropdown-button .buffer{
  padding-top:3px;
  height:max-content; 
  width:calc(100% - 16px);
  pointer-events: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}



.dropdown-custom-head .dropdown-content{
  color:var(--stone);
  position:absolute; 
  order: 1; 
  height:max-content;
  width: 100%;
  border: 1px solid #494e64;
  border-top:0;
  background-color:var(--coal);
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index:2;
}

.dropdown-custom-head .dropdown-content .dropdown-item {
  box-sizing: border-box;
  padding:7.5px;
  padding-left: 10px;
  cursor: pointer;
  font-family:'Inter'; 
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  background: rgba(39,41,53,.7);
}

.dropdown-custom-head .dropdown-content .dropdown-item.selected {
  background-color:var(--lime);
  color:var(--coal);
  transition:all .3s ease;
}

.dropdown-custom-head .dropdown-content .dropdown-item:hover {
  background-color:var(--lime);
  color:var(--coal);
  transition:all .3s ease;  
}


.card-body-wrapper{
  display:flex; 
  flex-direction:column; 
  order:1; 
  height:100%;
  box-sizing: border-box;
  border: 1px solid #494e64;
  border-top:0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-body {
  order:1;
  padding:10px; 
  height:100%;
}



.field-title{
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--stone);
  padding-bottom:6px;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.error-title{
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--grapefruit);
  padding-top:6px;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.output-title{
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--stone);
  padding-top:6px;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.input-field{
  margin-bottom: 10px;
}

.input-field input{
  border: 1px solid #494e64;
  border-radius: 6px;
  width:100%;
  font-size: 14px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--stone);
  background-color: var(--coal);
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left:12px;
  box-sizing: border-box;
}

.input-field input:focus{
  outline-width: 0;
}

.output-field{
  margin-bottom: 10px;

}

.output-field input{
  border: 1px solid #494e64;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width:100%;
  font-size: 14px;
  font-weight: 400;
  font-family:'Inter'; 
  color: hsla(0, 0%, 100%, .5);
  background-color: #242424;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:12px;
  box-sizing: border-box;
}


.output-field input:focus{
  outline-width: 0;
}

.output-input-wrapper {
  display:flex; 
  flex-direction:row;
  height:100%;
  width:100%;
}

.output-img-wrapper {
  border: 1px solid #494e64;
  border-left:0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding:3px;
  padding-top:5px;
  flex:1;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.output-img-wrapper img {
  filter: invert(55%) sepia(0%) saturate(202%) hue-rotate(189deg) brightness(96%) contrast(83%);
  box-sizing: border-box;
  height:80%;
  transition:all .3s ease;
}

.output-img-wrapper img:hover {
  filter: invert(90%) sepia(18%) saturate(584%) hue-rotate(61deg) brightness(104%) contrast(101%);
  cursor: pointer;
  transition:all .3s ease;
}

.output-textarea-wrapper{
  display: flex;
  flex-direction: row;
  height:100%;
}

.output-textarea-wrapper textarea{
  border: 1px solid #494e64;
  border-radius: 6px;
  resize:none;
  width:100%;
  background-color: #242424;
  color: hsla(0, 0%, 100%, .5);
  padding:10px;
  font-size: 14px; 
  font-weight: 400; 
  box-sizing: border-box;
  height:100%;
  outline-width: 0;
  white-space: pre ;
}




.output-textarea-img-wrapper  {
  display:flex;
  align-items: center;
  padding:5px;
  padding-right:0;
}

.output-textarea-img-wrapper img {
  filter: invert(55%) sepia(0%) saturate(202%) hue-rotate(189deg) brightness(96%) contrast(83%);
  box-sizing: border-box;
  transition:all .3s ease;
}

.output-textarea-img-wrapper img:hover {
  filter: invert(90%) sepia(18%) saturate(584%) hue-rotate(61deg) brightness(104%) contrast(101%);
  cursor: pointer;
  transition:all .3s ease;
}

.card-divider{
  border-bottom: 1px solid #494e64;
  order: 2;
  margin: 10px;
  margin-top:0;
}

.panel-divider{
  border-bottom: 1px solid #494e64;
  margin-top: 10px;
  margin-bottom: 10px;

}

@keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.card-button {
  height:fit-content; 
  width: fit-content; 
  align-self: center; 
  color:var(--lime); 
  font-family:'Inter'; 
  font-size: 14px; 
  font-weight: 400; 
  border-radius: 5px;
  border: 2px solid var(--lime); /* Green */
  padding:10px; 
  /* background-color: #026ec1; */
  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  order:3;
  margin-bottom:10px;
  min-width:75px;
  transition:all .3s ease;

}

.card-button:hover {
  background-color:var(--lime);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}

.card-button.disabled {
  color:#494e64;
  border: 2px solid #494e64;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
}

.card-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--stone)
    )
    border-box;
}



.card-button-clear {
  height:fit-content; 
  width: fit-content; 
  align-self: center; 
  border:0; 
  color:#494e64;
  font-family:'Inter'; 
  font-size: 14px; 
  font-weight: 400; 
  border-radius: 5px;
  border: 2px solid #494e64;; /* Green */
  padding:10px; 
  /* background-color: #026ec1; */
  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  order:3;
  margin-bottom:10px;
  min-width:75px;
  transition:all .3s ease;
}
.card-button-clear:hover {
  border: 2px solid var(--stone);
  color:var(--stone);  
  cursor: pointer;
  transition:all .3s ease;
}

.card-button-delete {
  height:fit-content; 
  width: fit-content; 
  align-self: center; 
  border:0; 
  color:var(--grapefruit);
  font-family:'Inter'; 
  font-size: 14px; 
  font-weight: 400; 
  border-radius: 5px;
  border: 2px solid var(--grapefruit); /* Green */
  padding:10px; 
  /* background-color: #026ec1; */
  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  order:3;
  margin-bottom:10px;
  min-width:75px;
  transition:all .3s ease;
}
.card-button-delete:hover {
  background-color: var(--grapefruit);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}



.card-button-estimate-fee {
  width: fit-content; 
  align-self: center; 
  border:0; 
  color:var(--lime);
  box-sizing: border-box;
  height:34px;

  font-family:'Inter'; 
  font-size: 14px; 
  font-weight: 400; 

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid var(--lime); /* Green */
  padding:7px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  flex: 0 0 75px;
  transition:all .3s ease;
  margin:0; 
  white-space: nowrap; 
  align-items: center;
  vertical-align:middle;
}

.card-button-estimate-fee:hover {
  background-color:var(--lime);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}

.compile-output-message {
  font-family:'Inter'; 
  font-size: 14px; 
  font-weight: 400; 
  border-radius: 6px;
  max-width: 100%; 
  padding:10px;
  height: fit-content; 
  display:flex;
  box-sizing: border-box;
  margin:10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.compile-output-message.success {
  border: 2px solid var(--lime); /* Green */
  color:var(--lime);
}

.compile-output-message.failure {
  border: 2px solid var(--grapefruit); /* Green */
  color:var(--grapefruit);
}



.program-card {
  margin:10px;
  display:flex;
  flex-direction:column;
  border-radius:6px;

  border-bottom: 1px solid #494e64;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.program-card.active {
  background-color: #343746;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.program-custom-head{
  position:relative;
  width: 100%;
}

.program-custom-head .dropdown-button {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 6px;

  padding:7.5px;
  padding-left: 0;
  padding-right:0;
  min-height:40px;

  font-family:'Inter'; 
  font-size: 14px;
  font-weight: 400;
  order: 0;
  display:flex;
  
  color:var(--stone);
}



.program-custom-head .dropdown-button img {
  float:right;
  order:1;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.program-custom-head .dropdown-button img:hover {
  cursor: pointer;
}

.program-custom-head .dropdown-button .buffer{
  padding-top:3px;
  margin-left: 5px;
  height:max-content; 
  width:calc(100% - 16px);
  order:2;
}


.program-function-button {
  width: fit-content; 
  align-self: center; 
  text-align: center;
  border:0; 
  color:var(--lime);
  box-sizing: border-box;
  height:34px;

  font-family:'Inter'; 
  font-size: 12px; 
  font-weight: 400; 

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid var(--lime); /* Green */
  padding:7px;
  padding-top:8px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  /* flex: 0 0 content;
  min-width:103px; */
  flex: 0 0 103px;
  transition:all .3s ease;
  margin:0; 
  white-space: nowrap; 
  align-items: center;
  vertical-align:middle;
  overflow:hidden;
}

.program-function-button:hover {
  background-color:var(--lime);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}


.program-async-function-button {
  width: fit-content; 
  align-self: center; 
  text-align: center;
  border:0; 
  color:var(--tangerine);
  box-sizing: border-box;
  height:34px;

  font-family:'Inter'; 
  font-size: 12px; 
  font-weight: 400; 

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid var(--tangerine); /* Green */
  padding:7px;
  padding-top:8px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;


  flex: 0 0 103px;
  transition:all .3s ease;
  margin:0; 
  white-space: nowrap; 
  align-items: center;
  vertical-align:middle;
  overflow:hidden;
}

.program-async-function-button:hover {
  background-color:var(--tangerine);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}


.program-mapping-button {
  width: fit-content; 
  align-self: center;
  text-align:center;
  justify-content: center;
  border:0; 
  color: var(--stone);
  box-sizing: border-box;
  height:34px;

  font-family:'Inter'; 
  font-size: 12px; 
  font-weight: 400; 

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #494e64;
  padding:7px;
  padding-top:8px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  flex: 0 0 103px;
  transition:all .3s ease;
  margin:0; 
  white-space: nowrap; 
  align-items: center;
  vertical-align:middle;
  overflow:hidden;
}

.program-mapping-button:hover {
  border: 2px solid var(--stone);
  cursor: pointer;
  transition:all .3s ease;
}

.program-mapping-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--stone)
    )
    border-box;
}


.program-function-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--lime)
    )
    border-box;
}


.program-async-function-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--tangerine)
    )
    border-box;
}


.program-expand {
  cursor:pointer;
}


.function-wrapper .input-field input {
  border: 1px solid #494e64;
  border-radius: 6px;
  width:100%;
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--stone);
  background-color: var(--coal);
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left:12px;
  box-sizing: border-box;
}




.function-expanded {
  margin-bottom:10px;
  display:flex; 
  flex-direction:column;
}

.function-expanded-header {
  display:flex;
  justify-content: space-between;
}


.function-expanded-fields-wrapper {
  justify-content:right; 
  display:flex; 
  flex-direction:column;
}

.function-expanded-field-wrapper {
  display:flex; 
  justify-content:right;
  margin-bottom:2px;
}


.function-expanded-field-wrapper input {
  border: 1px solid #494e64;
  border-radius: 6px;
  width: 75%;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Inter';
  color: var(--stone);
  background-color: var(--coal);
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 12px;
  box-sizing: border-box;
}

.function-expanded-field-wrapper input:focus {
  outline-width: 0;
}


.function-expanded-field-label {
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--stone);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  padding-top:9px;
  padding-right:2px;
}

.function-expanded-title {
  padding-left:2px;
  font-size: 12px;
  font-weight: 800;
  font-family:'Inter'; 
  color: var(--stone);
  padding-bottom:6px;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  white-space: nowrap;
  overflow:hidden;
  width:min-content;

}

.function-expanded-submit-button-wrapper{
  display:flex;
  width:100%;
  flex-direction:row;
}

.function-expanded-execute-button {
  width: fit-content; 
  text-align: center;
  border:0; 
  color:var(--lime);
  box-sizing: border-box;

  font-family:'Inter'; 
  font-size: 12px; 
  font-weight: 400; 

  border-radius: 6px;
  border: 2px solid var(--lime); /* Green */
  padding:7px;
  padding-top:8px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  transition:all .3s ease;
  margin:0; 
}


.function-expanded-execute-button:hover {
  background-color:var(--lime);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}


.function-expanded-execute-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--lime)
    )
    border-box;
}

.function-expanded-async-execute-button {
  width: fit-content; 
  text-align: center;
  border:0; 
  color:var(--tangerine);
  box-sizing: border-box;

  font-family:'Inter'; 
  font-size: 12px; 
  font-weight: 400; 

  border-radius: 6px;
  border: 2px solid var(--tangerine); /* Green */
  padding:7px;
  padding-top:8px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  transition:all .3s ease;
  margin:0; 
}


.function-expanded-async-execute-button:hover {
  background-color:var(--tangerine);
  color:var(--coal);  
  cursor: pointer;
  transition:all .3s ease;
}

.function-expanded-async-execute-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--tangerine)
    )
    border-box;
}



.function-expanded-query-button {
  width: fit-content; 
  text-align: center;
  border:0; 
  color: var(--stone);
  box-sizing: border-box;

  font-family:'Inter'; 
  font-size: 12px; 
  font-weight: 400; 

  border-radius: 6px;
  border: 2px solid #494e64;
  padding:7px;
  padding-top:8px;

  background-color: var(--coal);
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  transition:all .3s ease;
  margin:0; 
}


.function-expanded-query-button:hover {
  border: 2px solid var(--stone);  
  cursor: pointer;
  transition:all .3s ease;
}

.function-expanded-query-button.pending {
  color:#494e64;
  border: 2px solid transparent;
  background-color: var(--coal);
  cursor: default;
  pointer-events: none;
  --border-angle: 0deg;
  animation: border-angle-rotate 1s infinite linear;
  background: linear-gradient(var(--coal), var(--coal)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--coal) 50%,
      var(--stone)
    )
    border-box;
}



.function-error-title{
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--grapefruit);
  padding-bottom:10px;
  padding-right: 22px;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  text-align:right;
}

.function-output-title{
  font-size: 12px;
  font-weight: 400;
  font-family:'Inter'; 
  color: var(--stone);
  padding-bottom:10px;
  padding-right: 22px;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  text-align:right;
}

.switch-wrapper {
  display: flex;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343746;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #191b21;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--lime);
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  background-color: #59b456;
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}


#empty-space-horizontal {
  width:100%;
  height:100%;
  box-sizing: border-box;
}


.fs-button {
  background-color: transparent;
  border:0;
  padding:0;
  cursor:pointer;

  border-radius: 5px;
  box-sizing: content-box;
  color: var(--stone);
  justify-content: center;
  transition:all .3s ease;
  padding:3px;
  justify-self: right;
  margin-right: 8px;
  margin-top:2.5px;
}

.fs-button .fs-icon{
  height: 17px;
  width: 17px;
  right: 0px;
  bottom: 0px;
  position:absolute;
}


.fs-img-wrapper{
  height: 17px;
  width: 17px;
  position: relative;
  z-index: 2;

}


.fs-button:hover {
  background-color: #343746;
  border:0;
  transition:all .3s ease;
}









.resizer {
  background-color: #494e64;
  cursor: col-resize;
  height:100%;
  flex:0 0 5px;
  order: 2;
}

.code-terminal-area {
  order:3;
  width: 100%;
}

.outer-code-area {
  display:flex;
  flex-direction: column;
  height:100%;
  order:1;
}

.outer-code-area .tabs{
  display:flex;
  flex-direction: row;
  flex: 0 0 40px;
  margin:0;
  border-top: 0;
  box-sizing: border-box;
}

.outer-code-area .tabs .tab {
  padding:0;
  border:0;

  align-items: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight:400;
  height: 100%;

  padding-left: 10px;
  padding-right: 5px;
  border-top: 1px solid transparent;
  background-color: #1f212a;
  color: var(--stone);
  box-sizing: border-box;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}


.outer-code-area .tabs .tab.selected {
  background-color: #12141d;
  /* border-top-color: #931cff; */
  border-top-color: var(--lime);
}

.outer-code-area .tabs .tab .exit-button {
  background-color: transparent;
  border:0;
  padding:0;
  cursor:pointer;

  border-radius: 5px;
  box-sizing: content-box;
  color: var(--stone);
  justify-content: center;
  margin-left: 5px;
  transition:all .3s ease;
  display:flex
}

.outer-code-area .tabs .tab .exit-button .exit-icon{
  height: 18px;
  width: 18px;
  right: 0px;
  bottom: 0px;
  position:absolute;
  display:none;
}

.outer-code-area .tabs .tab .exit-button .unsaved-icon{
  height: 18px;
  width: 18px;
  right: 0px;
  bottom: 0px;
  position:absolute;
  z-index: 2;

}

.outer-code-area .tabs .tab .exit-button .exit-img-wrapper{
  height: 18px;
  width: 18px;
  position: relative;
  z-index: 2;

}


.outer-code-area .tabs .tab .exit-button:hover .exit-icon{
  display:flex;
}

.outer-code-area .tabs .tab .exit-button:hover .unsaved-icon{
  display:none;

}

.outer-code-area .tabs .tab .exit-button:hover {
  background-color: #343746;
  border:0;
  padding:0;
  transition:all .3s ease;
}

.outer-code-area .ide{
  display:flex;
  flex-direction: row;
  flex-basis:100%;
  overflow:auto;
  background-color: #12141d;
}

.ide-error {
  width: 100%;
  height: 100%;
  color: var(--ivory);
  text-align: center;
  font-size: large;
  font-family: "Inter";
  align-content: center;

}

.ide-error img{
  height: auto;
  width: 50px;
  margin-bottom:10px;
}

.line-numbers {
  order:0;
  flex: 0 0 40px;
  border:0;
  padding:0;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  position: relative;
  overflow:auto;

}

.line-numbers button{
  color: #878787;
  background: transparent;
  caret-color: transparent;                                                                                                                                              
  font-size:large; /*WARNING: ANY CHANGES TO THIS VALUE MUST ALSO BE SET IN BELOW (#editing, #highlighting, #length-test)!  OTHERWISE SCROLLING WILL NOT WORK PROPERLY */
  border:0;
  padding:0;
  font-family: monospace;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.editor {
  order:1;
  width: 100%;
  position: relative;
}


#length-test {
  visibility:hidden;
  position:absolute;
  width:max-content;
  font-size:large; /*WARNING: ANY CHANGES TO THIS VALUE MUST ALSO BE SET IN BELOW (#editing, #highlighting) AND ABOVE (#line-numbers button)!  OTHERWISE SCROLLING WILL NOT WORK PROPERLY */
}




.editing, .highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  overflow: auto;
  white-space: pre; /* Allows textarea to scroll horizontally */
  outline: none;
  position: absolute;
  scrollbar-color: gray var(--coal);
  font-size:large; /*WARNING: ANY CHANGES TO THIS VALUE MUST ALSO BE SET ABOVE (#length-test, #line-numbers button) !  OTHERWISE SCROLLING WILL NOT WORK PROPERLY */
  tab-size: 4;
}

.editing::selection {
  background: rgba(0, 122, 204, 0.3);
}
.editing::-moz-selection { /* Code for Firefox */
  background: rgba(0, 122, 204, 0.3);
}


/* Make textarea almost completely transparent */

.editing {
  color: transparent;
  background: transparent;
  caret-color: white; /* Or choose your favourite color */
  resize: none;
  z-index: 1;
}

.highlighting {
  z-index: 0;
}

.highlighting-content{
  width: max-content;
  height: max-content;
}


.fs {
  overflow-x:hidden;
  overflow-y: auto;
  scrollbar-color: gray var(--coal);
}


.fs-title {
  width: 100%; 
  box-sizing: border-box;
  display: flex;
  height: max-content; 
  background-color: transparent; 
  border: 0; 
  color: var(--stone);  
  font-family:'Inter';
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  padding-top: 5px;
  padding-bottom: 5px;
  transition:all .3s ease;
}


.fs-title:hover {
  background-color: #343746;
  cursor: pointer;
  transition:all .3s ease;
}

.fs-title img{
  filter: invert(55%) sepia(0%) saturate(202%) hue-rotate(189deg) brightness(96%) contrast(83%);
  order:0;
  padding-left:3px;
  pointer-events:none;
}

.fs-title div{
  pointer-events:none;
}

.temp-fs-title {
  background-color: transparent;
  width: 100%; 
  box-sizing: border-box;
  display: flex;
  height: max-content; 
  border: 0; 
  color: var(--stone);  
  font-family:'Inter';
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.temp-fs-title img{
  filter: invert(55%) sepia(0%) saturate(202%) hue-rotate(189deg) brightness(96%) contrast(83%);
  order:0;
  padding-left:3px;
  pointer-events:none;
}

.temp-fs-title div{
  pointer-events:none;
}

.temp-fs-input{
  background-color:#343746;
  border:0;
  margin-left:4px;
  color: var(--stone);
  /* outline: none; */
  width: 100%;;
  margin-right:5px;
  font-family:'Inter';
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.temp-fs-input:focus{
  border: 1px solid var(--ivory);
  outline:none;
}

.dir div{
  padding-left:5px;
}

.file div{
  padding-left:5px;
}

.file img{
  filter: invert(55%) sepia(0%) saturate(202%) hue-rotate(189deg) brightness(96%) contrast(83%);
  order:0;
  padding-left:3px
}

.dir-children {
  display:none; 
  flex-direction: column;
}

